@keyframes spin {
    0% {
        transform: rotate(0deg);
    }

    100% {
        transform: rotate(360deg);
    }
}

.loader {
    border: 4px solid #f3f3f3;
    border-top: 4px solid #7D4AE9;
    border-radius: 50%;
    width: 20px;
    height: 20px;
    animation: spin 2s linear infinite;
    display: inline-block;
    vertical-align: middle;
}

.modal {
    width: fit-content;
    min-width: 500px;
    padding: 10px 20px 20px;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    margin-top: 2%;
    margin-bottom: 5%;
}

.icon {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 48px;
    height: 48px;
    cursor: pointer;
}

.icon img {
    width: 100%;
    height: auto;
}

.icon span {
    margin-top: 4px;
    font-size: 14px;
}

.buttonContainer {
    display: flex;
    justify-content: center;
    gap: 60px;
    margin-top: 20px;
    margin-bottom: 30px;
}

.close-button {
    font-size: 30px;
    cursor: pointer;
}